<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/service.xml classpath:/spring.xml</param-value>
    </context-param>

   <!-- <listener>
        <listener-class>twitter.listeners.MyContextListener</listener-class>
    </listener>-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--<servlet>
        <description>DispatcherController</description>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>twitter.dispatcher.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/mywebcontext.xml</param-value>
        </init-param>
    </servlet>-->

    <servlet>
        <servlet-name>WebDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/webContext.xml</param-value>
        </init-param>
    </servlet>

   <!-- <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>WebDispatcher</servlet-name>
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RestDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/restContext.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestDispatcher</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>